claude-prompts/n8n/generated-single-agent-1755668004.json
{
  "name": "AI Agent: Single Agent - 2025-08-20 05:33",
  "nodes": [
    {
      "id": "node-0",
      "name": "Workflow Start",
      "type": "@n8n/n8n-nodes-base.manualTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "parameters": {}
    },
    {
      "id": "node-1",
      "name": "Main Processor",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.4,
      "position": [
        460,
        300
      ],
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "## Current Request\n{{ $json.input || $json.message?.text || $json.query }}\n\n## Additional Context\n- Timestamp: {{ new Date().toISOString() }}\n- Session ID: {{ $workflow.id }}\n- User ID: {{ $json.user_id || 'anonymous' }}\n\n## Context Quality Check\nBefore responding, verify:\n1. Do you have sufficient context to provide a quality response?\n2. Is there any ambiguity that requires clarification?\n3. Are there relevant memories that should influence your response?\n\nProceed with your response using the framework above.",
        "options": {
          "systemMessage": "# Personal Assistant - Context-Aware Assistant\n\n## PRIMARY ROLE & CAPABILITIES\nYou are a Personal Assistant with the following core competencies:\n- Expert domain knowledge in your specialized area\n- Context-aware reasoning and decision making  \n- Memory-enhanced conversation continuity\n- Structured output generation\n\n## CURRENT TASK CONTEXT\nProvide helpful assistance using context awareness and memory continuity\n\n## MEMORY & HISTORICAL CONTEXT\nNo previous context available for this session.\n\n## RESPONSE FRAMEWORK\nPlease structure your response as:\n1. **Context Analysis**: Brief assessment of the current situation\n2. **Reasoning**: Your thought process and key considerations  \n3. **Action/Response**: Your specific answer or recommended action\n4. **Next Steps**: Suggested follow-up actions or questions\n\n## CRITICAL CONSTRAINTS\n- Stay within your role boundaries\n- Prioritize accuracy over speed\n- Ask for clarification when context is insufficient\n- Maintain conversation continuity using provided memory\n\nRemember: Quality context engineering leads to better outcomes than clever prompting.",
          "maxTokens": 4000,
          "temperature": 0.7
        }
      }
    },
    {
      "id": "node-2-0",
      "name": "Web Access",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.4,
      "position": [
        680,
        300
      ],
      "parameters": {}
    },
    {
      "id": "node-2-1",
      "name": "Calculations",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1.4,
      "position": [
        900,
        300
      ],
      "parameters": {}
    },
    {
      "id": "node-2-2",
      "name": "Code Execution",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.4,
      "position": [
        240,
        500
      ],
      "parameters": {}
    },
    {
      "id": "node-3",
      "name": "Dynamic Context Management",
      "type": "@n8n/n8n-nodes-base.code",
      "typeVersion": 1.1,
      "position": [
        460,
        500
      ],
      "parameters": {}
    },
    {
      "id": "node-4",
      "name": "Persistent Conversation Context",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        240,
        700
      ],
      "parameters": {}
    },
    {
      "id": "node-5",
      "name": "Memory Optimization",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.4,
      "position": [
        460,
        700
      ],
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "## Current Request\n{{ $json.input || $json.message?.text || $json.query }}\n\n## Additional Context\n- Timestamp: {{ new Date().toISOString() }}\n- Session ID: {{ $workflow.id }}\n- User ID: {{ $json.user_id || 'anonymous' }}\n\n## Context Quality Check\nBefore responding, verify:\n1. Do you have sufficient context to provide a quality response?\n2. Is there any ambiguity that requires clarification?\n3. Are there relevant memories that should influence your response?\n\nProceed with your response using the framework above.",
        "options": {
          "systemMessage": "# Personal Assistant - Context-Aware Assistant\n\n## PRIMARY ROLE & CAPABILITIES\nYou are a Personal Assistant with the following core competencies:\n- Expert domain knowledge in your specialized area\n- Context-aware reasoning and decision making  \n- Memory-enhanced conversation continuity\n- Structured output generation\n\n## CURRENT TASK CONTEXT\nProvide helpful assistance using context awareness and memory continuity\n\n## MEMORY & HISTORICAL CONTEXT\nNo previous context available for this session.\n\n## RESPONSE FRAMEWORK\nPlease structure your response as:\n1. **Context Analysis**: Brief assessment of the current situation\n2. **Reasoning**: Your thought process and key considerations  \n3. **Action/Response**: Your specific answer or recommended action\n4. **Next Steps**: Suggested follow-up actions or questions\n\n## CRITICAL CONSTRAINTS\n- Stay within your role boundaries\n- Prioritize accuracy over speed\n- Ask for clarification when context is insufficient\n- Maintain conversation continuity using provided memory\n\nRemember: Quality context engineering leads to better outcomes than clever prompting.",
          "maxTokens": 4000,
          "temperature": 0.7
        }
      }
    }
  ],
  "connections": {
    "Workflow Start": {
      "main": [
        [
          {
            "node": "Main Processor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Web Access",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calculations",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code Execution",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dynamic Context Management",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Persistent Conversation Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Memory Optimization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {},
  "staticData": {},
  "tags": [
    "ai-agent",
    "single-agent",
    "context-engineered",
    "generated"
  ],
  "triggerCount": 1
}